    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: rgb(0, 0, 0, .2);
        font-family: 'Jura', sans-serif;
        font-size: 20px;
    }
    
    .logo {
        color: seashell;
        text-transform: uppercase;
    }
    
    .links {
        display: flex;
        justify-content: space-around;
        width: 35%;
    }
    
    .links li {
        list-style: none;
    }
    
    .links a {
        color: seashell;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
    }
    
    body {
        background-image: url(https://gomytech.gomycode.co/content/images/2021/03/nabeul-2.jpg);
        width: 100%;
        background-size: cover;
    }
    
    .vid {
        position: absolute;
        top: 100px;
        right: 50px;
        border: ridge
    }
    
    .intro h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin: 2%;
    }
    
    .intro p {
        font-family: 'Fjalla One', sans-serif;
        font-size: 25px;
        color: snow;
        margin: 1%;
        background-color: rgba(0, 0, 0, 0.4);
        display: inline-flex;
        padding: 1%;
    }
    
    .button {
        background: #e62143;
        border-radius: 20px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-family: Century Gothic;
        font-size: 1.15em;
        font-weight: 600;
        justify-content: center;
        line-height: 40.4929px;
        padding: .8em 1em;
        text-align: center;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
        text-underline-offset: 1px;
        transition: all .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;
        word-break: break-word;
        border: 0;
    }
    
    .button a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }